h1 { color:red;
font-weight: 300px;}
h2{ position: relative;
i}


p{color: border: text-rendering: animation-duration: border-right-color: border-right-color: font-variant: animation-delay: transition-delay: stroke-dashoffset: clip-path: ;;;;;;;;;;

}